@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: relative; */
    transition: all ease-out 200ms;
}
html {
    font-size: 62.5%;  /*1rem will be equal to 10px*/
}
body {
    font-size: 1.6rem;
    background-color: rgb(17, 26, 40);
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-align: center;
}
section {
    min-height: 100vh;
    padding-bottom: 2rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 1rem;
}
.btn {
    display: block;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
    padding: 1.2rem;
    /* background-color: #00cf5d; */
    border: 2px solid #00cf5d;
    border-radius: 0.5rem;
}
.btn:hover {
    background-color: #00cf5d;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    /* align-self: center; */
}
.title p {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #1d293a;
    transform-origin: 50%;
    border-radius: 4px;
    /* align-self: center; */
}
.title::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: white;
    z-index: -1;
    position: absolute;
}
.color {
    color:  #00cf5d;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}
.main-header .logo {
    color: white;
    font-size: 1.5rem;
}
.main-header .logo span {
    color:  #00cf5d;
}
.main-header .menu-bar{
    display: none;
}
.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4.5rem;
    border-radius: 0.5rem;
    background-color: #00cf5d;
}
.mobile-nav svg {
    font-size: 2rem;
}

.intro-area {
    padding: 8rem 0;
    font-size: 1.6rem;
}

.intro-area h1 {
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 700;
}
.intro-area h3 {
    font-size: 2rem;
    color: #00cf5d;
    font-weight: 600;
}
.mystacks {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    color: rgba(255, 255, 255, 0.7);
}

.action {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.resume-btn {
    background-color: #00cf5d;
    margin-right: 2rem;
}

/* social logos styling */
.socials {
    margin-top: 5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.socials ul {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    padding: 5px;
    background-color: rgb(17, 26, 40);
}
.socials ul li {
    margin: 0px 15px;
}
.socials ul li :last-child {
    margin-bottom: 0px;
}
.socials ul li a {
    color: white;
}

/* 😎 ABOUT ME SECTION STYLING 😎 */
#about .image-container{
    height: 30rem;
    background-color: white;
    border-radius: 2rem;
    margin: 2rem 0;
    transform: scale(0.9);
    filter: saturate(0);
}
#about .image-container:hover{
    transform: scale(1);
    filter: saturate(1);
}



/* 😎 MY SKILLS SECTION STYLING 😎 */
.skills-nav {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;  
}
.skills-nav .btn {
    font-size: 1.5rem;
    margin: 0.5rem 1rem;

}
/* .skills-nav[dataset= "web"] */

.skills .card {
    position: relative;
    background-color: rgb(29, 41, 58);
    padding: 25px 25px 35px;
    margin: 15px;
    border-radius: 4px;
}
.skills .card div {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 10px;
    background-color: #00cf5d;
}
.skills .card h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
}



/*
.socials p{
    color: white;
    padding: 5px 10px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: rgb(29, 41, 58);
    border-radius: 4px;
}

 .title::after {
    content: "";
    position: absolute;
    width: 100%;
}
.title::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.85);
    z-index: -1;
} */
/* .nameless p .line {
    color: white;
    width: 5rem;
    height: 1rem;
} */
/* .intro-area p {
    color: #00cf5d;
} */
/*
.intro-area ul li span {
    margin:0;
    font-weight: 600;
    color: #00cf5d;
}
 .mystacks li:not(:last-child)::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #00cf5d;
    display: inline-block;
    border-radius: 50%;
    margin: 2px;
} */